@page
@model Bytely.Pages.UrlsModel
@{
}

<form id="remove" method="post"></form>
<table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Urls[0].BytelyUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urls[0].RedirectUrl)
            </th>
            <th class="text-center">Remove</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model.Urls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BytelyUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RedirectUrl)
                </td>
                <td>
                    <span>
                        <button type="submit" name="key" value="@item.BytelyKey" form="remove" asp-page-handler="Remove" class="btn-danger btn-rounded btn-sm my-0">Delete</button>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
